*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    color: #ffff;
    background: rgb(21,21,21);
    overflow-x: hidden;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,566), rgba(0,0,0,0.788)), url(../image/main\ back.JPG);
    background-size: cover;
    object-fit: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: white;
    font-family: 'Lucida Sans';
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 8rem;
    font-size: 2.5rem;
    margin-top: 1rem;
}

.logo b{
    font-size: 2.5rem;
    color:  blue;
}

#bar{
     display: none;
}

.navbars ul{
    margin-right: 8rem;
    display: flex;
}

.navbars ul li{
    margin-top: 1rem;
    margin-left: 3rem;
}

.navbars ul li a{
    color: white;
    letter-spacing: 1px;
    font-size: 19px;
}

.navbars ul li a::after{
    content: '';
    display: block;
    background: blue;
    width: 0%;
    height: 4px;
}

.navbars ul li a:hover::after{
    animation: nav linear 0.5s;
}

@keyframes nav{
    form{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

/* responsive navbar */
@media(max-width:1168px){
    .logo{
        margin-left: 2rem;
    }
    .navbars url{
        margin-right: 2rem;
    }
}
@media(max-width:900px){
    #bar{
        font-size: 1.7rem;
        cursor: pointer;
        display: flex;
        padding: 15px;
        z-index: 10001;
    }
    .logo{
        z-index: 10001;
    }
    header .navbars{
        height: 0px;
        width: 100%;
        background: rgba(0, 0, 0, 0.837);
        position: absolute;
        top: 0px;
        right: 0;
        left: 0;
        transition: .5s;
        overflow: hidden;
        opacity: 0;
        z-index: 1000;
    }
    header .navbars.active{
        height: 380px;
    }
    header .navbars ul{
        display: block;
        width: fit-content;
        margin: 60px auto 0 auto;
        text-align: center;
        transition: .4s ease;
    }
    header .navbars.active{
        opacity: 1;
    }
    header .navbars ul{
        transform: translateY(60px);
    }
    header .navbars ul li a{
        display: inline-block;
        margin-bottom: 20px;
    }
}

.content-main{
    text-align: center;
    transform: translateY(130px);
}

.content-main h1{
    font-size: 4.4rem;
    letter-spacing: .3rem;
}

.content-main p{
    font-size: 1.1rem;
    color: rgba(235, 235, 234, 0.904);
    letter-spacing: 1px;
    line-height: 28px;
    margin:20px 0px;
}

.main-btn{
    padding: 10px 29px;
    border-radius: 0px 10px;
    font-size: 1rem;
    border: none;
    background-color: blue;
    color: white;
    transition: .4s ease;
    cursor: pointer;
}

.main-btn:hover{
    letter-spacing: 1px;
}
@media(max-width:720px){
    .content-main h1{
        font-size: 2rem;
    }
    .content-main p{
        font-size: 0.8rem;
    }
}

@media(max-width:370px){
    .content-main h1{
        font-size: 1.7rem;
    }
    .content-main p{
        font-size: 0.7rem;
    }
}

.film{
    transform: translateY(-80px);
    white-space: nowrap;
}

.film-slide{
    display: inline-block;
    animation: 34s linear infinite slide;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.film-slide img{
    margin: 3px;
    width: 200px;
    height: 270px;
    border-radius: 7px 0px;
}

.film:hover .film-slide{
    cursor: pointer;
}

@media(max-width:990px){
    .film-slide img{
        width: 160px;
        height: 220px;
    }
    .film{
        transform: translateY(-70px);
    }
}

@media(max-width:680px){
    .film-slide img{
        width: 120px;
        height: 170px;
    }
    .film{
        transform: translateY(0px);
    }
}

.channel{
    white-space: nowrap;
}

.channel-slide{
    display: inline-block;
    animation: cahnnel infinite linear 40s;
}

@keyframes cahnnel{
    from{
        transform: translateX(-55%);
    }
    to{
        transform: translateX(0%);
    }
}

.channel-slide img{
    width: 100px;
    height: 80px;
    margin-left: 10px;
    margin-top: -7%;
}

@media(max-width:990px){
    .channel-slide img{
        width: 90px;
        height: 70px;
        margin: 7px;
    }
}

@media(max-width:410px){
    .channel-slide img{
        width: 75px;
        height: 60px;
        margin-left: 5px;
    }
}

.whyChose{
    width: 100%;
}

.card-chose{
    display: flex;
    justify-content: space-around;
}

.card-chose .card{
    width: 400px;
    background: rgba(32, 32, 32, 0.753);
    box-shadow: 1px 1px 1px 1px blue;
    padding: 15px;
    text-align: center;
    margin-top: 2%;
}

.card-chose .card img{
    width: 100px;
    margin-bottom: 20px;
}

.card-chose .card h1{
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.card-chose .card p{
    letter-spacing: 1px;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 23px;
    color: rgb(255, 255, 255);
}

@media(max-width:1223px){
    .card-chose .card{
        width: 380px;
    }
    .card-chose .card h1{
        font-size: 1.2rem;
    }
    .card-chose .card{
        letter-spacing: 0px;
        line-height: 22px;
    }
}

@media(max-width:1153px){
    .card-chose .card{
        width: 330px;
    }
    .card-chose .card h1{
        font-size: 1rem;
    }
    .card-chose .card p{
        letter-spacing: 0px;
        line-height: 22px;
        font-size: 0.8rem;
    }
}

@media(max-width:1000px){
    .card-chose .card{
        width: 300px;
        padding: 8px;
    }
    .card-chose .card h1{
        font-size: 0.9rem;
    }
    .card-chose .card p{
        font-size: 0.7rem;
    }
}

@media(max-width:900px){
    .whyChose{
        text-align: center;
    }
    .card-chose{
        display: grid;
        grid-template-columns: repeat(auto,1fr);
    }
    .card-chose .card{
        margin-bottom: 20px;
        height: 300px;
        width: 400px;
        padding: 20px;
    }
    .card-chose .card h1{
        font-size: 1.6rem;
    }
    .card-chose .card p{
        font-size: 1rem;
    }
}

@media(max-width:440px){
    .card-chose .card{
        width: 300px;
        height: 260px;
        padding: 8px;
    }
    .card-chose .card h1{
        font-size: 0.9rem;
    }
    .card-chose .card p{
        font-size: 0.7rem;
    }
}

/*start section plan*/

.plan{
    width: 100%;
    margin-top: 80px;
}

.plan h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}

.card-plan{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-p{
    background: rgba(32, 32, 32, 0.753);
    box-shadow: 2px 2px 2px 2px blue;
    padding: 30px;
    text-align: center;
    width: 360px;
    border-radius: 9px;
}

.card-p h2{
    font-size: 1.7rem;
    line-height: 40px;
    margin-bottom: 20px;
}

.car-p h2 span{
    color: rgb(21, 0, 248);
    margin: 10px;
    padding: 5px 40px;
    display: inline-block;
}

.card-p h2 .sp{
    display: inline-block;
    margin: 10px;
    padding: 5px 40px;
    background: rgb(21, 0, 248);
    color: white;
}

.card-p p{
    font-size: 1.1rem;
    line-height: 33px;
    letter-spacing: 1px;
}

.card-p p i{
    margin-right: 5px;
}

.card-p .plan-btn{
    padding: 10px 17px;
    color: white;
    background: blue;
    border: none;
    border-radius: 0px 10px;
    margin-top: 20px;
    letter-spacing: 1px;
    transition: 0.4 ease;
}

.card-p .plan-btn:hover{
    cursor: pointer;
    letter-spacing: 2px;
}

.card-p h4{
    margin-top: 20px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 300;
}

.card-p .icon{
    margin-top: 20px;
}

.card-p .icon i{
    margin-right: 7px;
    font-size: 1.3rem;
}

/*responsseve plan section*/
@media(max-width:1060px){
    .card-p{
        padding: 15px;
        width: 310px;
    }
}

@media(max-width:900px){
    .card-plan{
        display: grid;
        grid-template-columns: repeat(auto, 1fr);
    }
    .card-p{
        margin-bottom: 20px;
        width: 400px;
        padding: 30px;
    }
}

@media(max-width:450px){
    .card-p{
        width: 310px;
        padding: 15px;
    }
    .plan h1{
        font-size: 1.4rem;
    }
}

/* fin section plan */

/*start section step*/

.steps{
    transform: translateY(10rem);
    min-height: 600px;
}

.step-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.step{
    text-align: center;
    width: 400px;
    height:280px;
    background-color: rgba(32, 32, 32, 0.753);
    box-shadow: 2px 2px 2px 2px blue;
    padding: 20px;
}

.step i{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.step h1{
    margin-bottom: 16px;
    letter-spacing: 1px;
}

.step p{
    color: rgba(255, 255, 255, 0.904);
    letter-spacing: 1px;
    font-style: italic;
    line-height: 25px;
}

.step p a{
    color: red;
}

.step-btn{
    margin-top: 20px;
    padding: 10px;
    background: blue;
    border-radius: 10px 1px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    transition: .4s ease;
}

.step-btn:hover{
    background: transparent;
    border: 1px solid blue;
    color: blue;
}

@media(max-width:1212px){
    .step{
        width: 350px;
        height: 300px;
    }
}

@media(max-width:1050px){
    .step{
        width: 310px;
        height: 300px;
    }
    .step i{
        font-size: 3.5rem;
    }
    .step p{
        letter-spacing: 0px;
    }
}

@media(max-width:900px){
    .step-card{
        display: grid;
        grid-template-columns: repeat(auto, 1fr);
    }
    .step{
        width: 410px;
        height: 300px;
        margin-bottom: 20px;
        padding: 30px;
    }
    .step i{
        font-size: 4rem
    }
}

@media(max-width:450px){
    .step{
        width: 340px;
        height: 300px;
        margin-bottom: 20px;
    }
    .step i{
        font-size: 3.6rem;
    }
}

@media(max-width:367px){
    .step{
        width: 280px;
        height: 300px;
        padding: 12px;
    }
    .step i{
        font-size: 3.1rem;
    }
}

/* end step section */

/* start section faq */

.wrapper{
    max-width: 75%;
    margin: auto;  
}

.wrapper > p ,
.wrapper > h1{
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper h1{
    letter-spacing: 1px;
    font-size: 2.8rem;
    margin-bottom: 2%;
}

.accordion{
    background-color: rgb(21,21,21);
    color: white; 
    cursor: pointer;
    font-size: 1.2rem ;
    width: 100%;
    padding: 2rem 2.5rem ;
    border: none;
    outline: none;
    transition: 0.4s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i{
    font-size: 1.6rem;
}

.active, .accordion:hover{
    background-color: rgb(21,21,21);
    border-radius:  15px;
}

.pannel{
    padding: 0 2rem 2.5rem 2rem ;
    background-color: rgb(21,21,21);
    overflow: hidden;
    background-color: rgb(21,21,21);
    display: none;
}

.pannel p{
    color: rgba(0, 0, 255, 0.87);
    font-size: 1.2rem;
    line-height: 1.4;
}

/* end faq */


/* start footer */


.footer{
    background-color: blue;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
    
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* Hover Effects on Social Media Icons */

.socialIcons a:hover{
    background-color: blue;
    transition: 0.5;
}

.socialIcons a:hover{
    color: white;
    transition: 0.5;
}

.footerNav{
    margin: 30px 0;

}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: nonedisc;
}

.footerNav ul li a{
    color: rgba(245, 245, 245, 0.919);
    margin: 10px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s
}

.footerNav ul li a:hover{
    opacity:  2;
}

.footerBottom{
    background-color: rgb(0, 0, 255);
    padding: 20px;
    text-align: center;
}

.footerBottom{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}

@media(max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}